@{
    ViewBag.Title = "Patterned Pomegranate: " + Model.Category.Name;
    ViewBag.PageId = "categoryPage";
    Layout = "layout.cshtml";
}

<nav class="breadcrumb-nav">
  <a href="/">All Products</a>
  <span class="shop-breadcrumb-separator">&gt;</span>
  @Model.Category.Name
</nav>

<h1 class="shop-page-title">@Model.Category.Name</h1>
<h2 class="shop-category-subhead">@Model.Description</h2>

<div id="categoryGallery">

@foreach (var subCategory in Model.SubCategories) {

    @if (subCategory.Name != null) {
      <h2>@subCategory.Name</h2>
    }

    @foreach (var chunk in ppom.Extensions.SplitChunks(subCategory.Listings, 3)) {

      <div class="row shop-category-row">

        @foreach (var listing in chunk) {

          <div class="col-md-4 shop-overview-cell">
            <a href="/shop/listing/@listing.Product.Id/">

              @if (subCategory.Name == null) {
                <h2>@listing.Product.Name</h2>
              } else {
                <h3>@listing.Product.Name</h3>
              }

              <img class="shop-overview-thumb" 
                   src="/shop/listing/@listing.Product.Id/medium/@listing.FirstImageName">
            </a>
            <div class='clearfix'></div>
          </div>
        }

      </div>

    }
}

</div>
